<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" prefix="og: http://ogp.me/ns# profile: http://ogp.me/ns/profile#">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
	<link rel="meta" type="application/rdf+xml" title="FOAF" href="/george.rdf" />	
	<link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
	<meta property="og:title" content="George Macgregor : about me" />
<meta property="og:description" content="My name is George Macgregor. My interests are in structured open data (esp. within Semantic Web and repository contexts), information retrieval, distributed digital repositories and human-computer interaction (HCI). I am the Institutional Repository Manager & Developer at the University of Strathclyde. I work on our OAI-PMH compliant institutional repository (known as Strathprints), supporting colleagues in the delivery our Current Research Information System (CRIS) and generally supporting institutional activities in the areas of Open Science and digital scholarship. I am part of a small team working in the area of repositories, research discovery, research data management and Open Access." />
<meta property="og:url" content="https://geo-mac.github.io/" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="en_GB" />
<meta property="og:image" content="https://geo-mac.github.io/images/depiction.webp" />
<meta property="og:image:alt" content="An avatar of George Macgregor" />
<meta property="profile:first_name" content="George">
<meta property="profile:last_name" content="Macgregor">
<meta property="profile:gender" content="male">
<meta property="profile:username" content="g3om4c">

{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <a href="{{ '/' | relative_url }}" id="a-title"  style="text-decoration:none">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
		<nav class="main-nav">
    <a href="/stuff.html" class="btn">Stuff</a>
	<a href="/contact.html" class="btn">Contact</a>
	<a href="/dansk/index.html" class="btn">På dansk</a>
	<a href="/george.rdf" class="btn">FOAF</a>
	
</nav>


        <section id="downloads">
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
            <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
          {% endif %}
          
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
	  <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
    </div>

  </body>
</html>
